<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.container {
			width: 600px;
			margin-top: 100px;
		}
		.form-control {
			margin-bottom: 10px;
		}

		.selecionado {
			background-color: #a6ead5 !important;
			color: #fff !important;
		}
	</style>
</head>
<body ng-controller="listaTelefonicaController">

	<div class="container">
		
		<div class="jumbotron">
			
			<h4>{{app}}</h4>
			
			<input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O que deseja pesquisar...">
			
			<hr>
			{{message}}
			<table class="table table-striped" ng-if="contatos.length">
				<thead>
					<tr>
						<th></th>
						<th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
						<th>Data</th>
						<th>Telefone</th>
						<th>Operadora</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
						<td><input type="checkbox" ng-model="contato.selecionado"></td>
						<td>{{contato.nome | uppercase }}</td>
						<td>{{contato.data | date:'dd/MM/yyyy'}}</td>
						<td>{{contato.telefone}}</td>
						<td>{{contato.operadora.nome}}</td>
					</tr>
				</tbody>
			</table>
			
			<form name="contatoForm">	

				<input type="text" class="form-control" ng-model="contato.nome" name="nome" ng-required="true" ng-minlength="10" placeholder="Nome e Sobrenome">
				<input type="text" class="form-control" ng-model="contato.telefone" name="telefone" ng-required="true" placeholder="Telefone" ng-pattern="/^\d{4,5}-\d{4}$/">
				<select name="" id="" class="form-control" ng-model="contato.operadora" name="oper" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" >
					<option value="">Selecione operadora...</option>
				</select>

					
				<div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$dirty">
					
					<div ng-message="required" class="alert alert-danger">
						Preencha o nome e sobrenome
					</div>

					<div ng-message="minlength" class="alert alert-danger">
						Valor minimo de carecteres são 10
					</div>

				</div>



				

				<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
					Preencha o telefone
				</div>

				<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
					Preencha o telefone formato certo
				</div>

				<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
				<button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">Deletar Contato</button>

			</form>


		</div>



	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.3/angular-messages.min.js"></script>
	<script>
		
		angular
			.module('listaTelefonica', ['ngMessages']);

		angular
			.module('listaTelefonica')
			.controller('listaTelefonicaController', function($scope, $filter, $http){

				$scope.app = "Lista Telefonica";

				$scope.contatos = [];

				$scope.operadoras = [];

				$scope.classe = "selecionado"

				var carregarContatos = function() {
					$http.get('http://127.0.0.1:3412/contatos').then(function(response){
						$scope.contatos = response.data;
					}, function(err){
						$scope.message = "Deu Ruim!!!" + err;
					});
				}

				var carregarOperadoras = function() {
					$http.get('http://127.0.0.1:3412/operadoras').then(function(response){
						$scope.operadoras = response.data;
					});
				}

				$scope.adicionarContato = function(contato) {
					$scope.contatos.push(angular.copy(contato))
					delete $scope.contato;

					$scope.contatoForm.$setPristine();
				}

				$scope.apagarContato = function(contatos) {
					$scope.contatos = contatos.filter(function(contato){
						if(!contato.selecionado) return contato;
					})

				}

				$scope.isContatoSelecionado = function(contatos) {
					return contatos.some(function(contato){
						return contato.selecionado
					})

				}

				$scope.ordernarPor = function(campo) {
					$scope.criterioDeOrdenacao = campo;
					$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
				}	

				carregarContatos();

				carregarOperadoras();

			})	

	</script>
</body>
</html>