<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.container {
			width: 500px;
			margin-top: 100px;
		}
		.form-control {
			margin-bottom: 10px;
		}

		.selecionado {
			background-color: #a6ead5 !important;
			color: #fff !important;
		}
	</style>
</head>
<body ng-controller="listaTelefonicaController">

	<div class="container">
		
		<div class="jumbotron">
			
			<h4>{{app}}</h4>

			<table class="table table-striped" ng-if="contatos.length">
				<thead>
					<tr>
						<th></th>
						<th>Nome</th>
						<th>Telefone</th>
						<th>Operadora</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
						<td><input type="checkbox" ng-model="contato.selecionado"></td>
						<td>{{contato.nome}}</td>
						<td>{{contato.telefone}}</td>
						<td>{{contato.operadora.nome}}</td>
					</tr>
				</tbody>
			</table>

			<input type="text" class="form-control" ng-model="contato.nome">
			<input type="text" class="form-control" ng-model="contato.telefone">
			<select name="" id="" class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione operadora...</option>
			</select>
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
			<button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-if="isContatoSelecionado(contatos)">Deletar Contato</button>

			{{contato}}


		</div>



	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script>
		
		angular
			.module('listaTelefonica', []);

		angular
			.module('listaTelefonica')
			.controller('listaTelefonicaController', function($scope){

				$scope.app = "Lista Telefonica";

				$scope.contatos = [
					{nome: "Paulo", telefone: "99988888"},
					{nome: "Gisely", telefone: "888889999"},
					{nome: "Pedro", telefone: "7777778888"}
				];

				$scope.operadoras = [
					{nome: "OI", codigo: 14, categoria: "celular"},
					{nome: "VIVO", codigo: 15, categoria: "celular"},
					{nome: "TIM", codigo: 41, categoria: "celular"},
					{nome: "GVT", codigo: 49, categoria: "fixo"},
					{nome: "EMBRATEL", codigo: 21, categoria: "fixo"}
				]

				$scope.classe = "selecionado"

				$scope.adicionarContato = function(contato) {
					$scope.contatos.push(angular.copy(contato))
					delete $scope.contato;
				}

				$scope.apagarContato = function(contatos) {
					$scope.contatos = contatos.filter(function(contato){
						if(!contato.selecionado) return contato;
					})

				}

				$scope.isContatoSelecionado = function(contatos) {
					return contatos.some(function(contato){
						return contato.selecionado
					})

				}	

			})	

	</script>
</body>
</html>